body {
    color: white;
    background-color: black;
}

h1 {
    background-color: rgba(0, 0, 0, 0.63);
    text-align: center;
}

.Box{
    width: min(50%, 360px);
    height: 95vh;
    margin: auto;
    border: 3px solid #792e36;
    border-radius: 10px;
    background-image: url("background.jpg");
    background-position: 33% 15%;
    padding: 0.2rem;
}